body {
    background-color: cadetblue;
    background-image: url("https://gifdb.com/images/high/starfield-dark-background-sgli8iwvguwxzovr.gif");
    font-family: 'Roboto', sans-serif;
}

.timer {
    font-family: 'Digital', sans-serif;
    font-size: 80px;
    color: darkorange;
}

.period {
    font-size: 24px;
}

.time-select {
    width: 150px;
}
