body {
    background-color: cadetblue;
    background-image: url("https://gifdb.com/images/high/starfield-dark-background-sgli8iwvguwxzovr.gif");
    font-family: 'Roboto', sans-serif;
}

.timer {
    font-family: 'Digital', sans-serif;
    font-size: 80px;
    color: darkorange;
}

.period {
    font-size: 24px;
}

.time-select {
    width: 150px;
}

.navbar-brand img
{
    max-height: 30px; /* Adjust the max-height as needed */
    margin-right: 5px; /* Optional: Add some margin between the logo and text */
}

/*.logo {*/
/*   width: auto;*/
/*   height: 100%;*/
/*}*/
